
body{
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn2 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #f6f1f1;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
  }
  
  .btn2::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #FD4C5C;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .btn2::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: #212121;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .btn2:hover::before {
    transform: translateY(-25px);
    height: 0;
  }
  
  .btn2:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
  }
  
  .btn2:hover {
    border: 2px solid #0c0808;
  }
  
  .btn2 span {
    position: relative;
    z-index: 3;
  }
  
  button {
    text-decoration: none;
    border: none;
    background-color: transparent;
  }




ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
.container{
    width: 100%;
    max-width: 1296px;
    margin:0 auto;
    padding: 30px;


}
.navbar{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav__logo{

}
.nav__list{
    display: flex;
    gap: 100px;
}
.nav__style{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav__img{
    width: 101px;
    height: 3opx;
}
.nav__text{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}
.Login{
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-align: center;
}   
.nav__button{
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 3px;
    background-color:#FD4C5C;
    padding: 13px 33px 13px 33px;
    text-align: center;
    border: none;
}
.nav__login{
    display: flex;
    align-items: center;
    gap: 30px;
}
h2{
    font-weight: 700;
    font-size: 72px;
    color: #fff;
}
.hero__text{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}
.hero__wrapper{
    height: 460px;
    display: flex;
    flex-wrap: wrap;
    padding:100px 0 100px;
    
}
.form__submit{
width: 180px;
height: 50px;
background-color: #FD4C5C;
border-radius: 3px;
border: none;
color: #fff;
}

.search__form{
    width: 100%;
    height: 66px;
    display:flex;
    align-items: center;
    background-color:#fff;
    max-width:526px;
    padding: 3px 10px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }
  
  #btn:hover,
  :focus {
    color: #ffffff;
    background: #FD4C5C;
    border: 1px solid #FD4C5C;
    text-shadow: 0 0 5px #000000, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #FD4C5C, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #FD4C5C;
  }
  

.email__input{
    flex-grow: 1;
    border: none;
    background: transparent;
    outline: none;
    padding: 0 10px;
}
.hero__img{
padding: 0 100px 0 0;   
}
.hero__container{
    width: 100%;
    display: flex;
}
.hero__images{
    max-width: 416px;
    height: 662px;
    object-fit: cover;
}
header{
    margin: 0 auto;
    background-image: url(../images/background.svg);
    max-width: 1600px;
    height: 840px;
}

.section__wrapper{
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}
.section__container{
    margin: 50px 0;
}
.main__subtitle{
    font-weight: 400;
    font-size: 16px;
    color: #5f7adb;
    text-align: center;
    margin-top: 20px;
}
.main__title{
    width: 100%;
    max-width: 677px;
    font-weight: 700;
    font-size: 48px;
    color: #5b72c5;
    text-align: center;
   
}
.main__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__img{
    width: 60px;
    height:60px;
    margin-bottom: 30px;
}
.card__text{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.card{
    max-width:306px;
    margin-top: 100px;
}
.card__title{
    font-weight: 700;
    font-size: 20px;
}
.card__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.main2__wrapper{
    padding: 50px 0 0 0;
    width: 100%;
    width: 486px;
    flex-wrap: wrap;
    height: 440px;
   
}.main2__title{
    font-weight: 700;
    font-size: 48px;
    color: #405bba;
}
.main2__subtitle{
    font-weight: 400;
    font-size: 16px;
    margin: 40px 0;

}
.main2__text{
    width: 486px;
}
.main2{
    margin: 100px 0;
}

.main2__container{
    display: flex;
    justify-content: space-between;
}
.main2__img{
    width: 50%;
}

.main3__images{
    height: 639px;
}
.main3__container{
    display: flex;
    justify-content: space-between;
}
.main3__wrapper{
    width: 50%;
    max-width: 400px;
    flex-wrap: wrap;
    
}
.main3__title{
    font-weight: 700;
    font-size: 48px;
    color: #000B33; 
}
.main3__text{
    font-weight: 400;
    font-size: 16px;
    color: #000B33; 
    margin: 30px 0;   
}
.level__subtitle{
    font-weight: 400;
    font-size: 16px;
    color: #000B33;
    margin: 10px 0;
}
.level__title{
    font-weight: 700;
    font-size: 20px;
    color: #000B33;  
}
.level{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 350px;
    padding: 0 0 0 30px;
    margin-top: 50px;
}
.main4__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main4__card{
    width: 100%;
    background-color:#fff;
    max-width:306px;
    height:421px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 100px 0;
}
.main__img{
    max-width:100%;
    height:276px;
    object-fit: cover;
    margin: 20px;
   
}
.main4__title{ 
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #000B33;
}
.main4__text{
    margin: 20px;
}

.main4__cards{
    display: flex;
    justify-content: space-between;
}

.main4{
    margin: 100px 0;
}

.main5__subtitle{
    font-weight: 700;
    font-size: 72px;
}
.main5__title{
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #000B33;
}
.main5__wrapper{
    display: flex;
    justify-content: space-between;
}
.main6__images{  
}
.main6__wrapper{
    display: flex;
    justify-content: space-between;
}

.main7__text{
    text-align: center;
    max-width: 880px;
    font-weight: 700;
    font-size: 48px; 
    color: #fff;  
}
.main7__wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 417px;
    max-width: 900px;
    margin: 30px;
}
.main7{
    width: 100%;
    max-width: 1600px;
    margin:0 auto;
    background-color:#2B59FF;  
    display: flex;
    justify-content: center;
}

.footer__wrapper{
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    max-width: 1296px;
}
.list__text{
    font-weight: 400;
    font-size: 16px;
}
.footer__title{
    margin: 30px 0;
}
.list__text{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #000B33;
}
.footer__title{
    font-weight: 600;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #000B33;
    font-weight: 400;
    font-size: 16px;
}
.footer__suptext{
text-align: center;
font-weight: 400;
font-size: 16px;
margin-bottom: 30px;
}
.main__title:hover{
    background-color: rgb(187, 187, 246);
    border-radius: 30px;
}
.main__subtitle:hover{
    color: blue;
}
.hero__text:hover{
    color: #000B33;
}
h2:hover{
    color: #000B33;
}
.hero__images:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 20px;
}
.main3__title:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: rgb(187, 187, 246);
    border-radius: 30px;
}
.main3__text:hover{
    color: blue;
}
.main2__title:hover{
    background-color: rgb(187, 187, 246);
    border-radius: 30px;   
}
.main7__text:hover{
background-color:gray;
    border-radius: 30px;
    padding: 10px;  
}
.card__title:hover{
    background-color: rgb(187, 187, 246);
    border-radius: 30px;
}
.form__submit:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.footer__title:hover{
    background-color: rgb(187, 187, 246);
    border-radius: 30px; 
    padding: 10px; 
}